


body {
    font-family: "Comic Sans MS", "Comic Sans";
  }
  #im1 {
    width: 100%;
    height: 350px;
    border: solid black;
  }

  h1 {
    position: absolute;
    top: 10px;
    right: 30%;
  }
  
  h2 {
    text-align: center;
    background-origin: content-box;
    background-color: black;
    color: white;
    position: relative;
    bottom: 20px;
    padding: 10px;
  }


  #logo {
    position: absolute;
    right: 10%;
    top: 325px;
    height:150px
  }

#home{
    position: absolute; 
    top:450px;
    }
#about{
        position: absolute;
        top:520px;
    
    
    }
 #contact{
        position: absolute;
        top:600px;
    
    }

  .descripcionAbout{

    position: absolute;
    left: 20%;
    
    top: 430px;
    line-height : 25px;

  }


  #play2{
    
    position: relative;
      border: 2px solid black;
        z-index: 1;
       right: 5px;
       width:15%;
      height: 15%;
        top:70px
       
    }
  
  