


body {
  font-family: "Comic Sans MS", "Comic Sans";
}

#im1 {
  width: 100%;
  height: 350px;
  border: solid black;
  margin: 100;

}

h1 {
  position: absolute;
  top: 10px;
  right: 30%;
}

h2 {
  text-align: center;
  background-origin: content-box;
  background-color: black;
  color: white;
  position: relative;
  bottom: 20px;
  padding: 10px;
  
}

#logo {
  position: absolute;
  right: 10%;
  top: 320px;
  height: 150px;
}
.link{
display: inline;
position: relative;
bottom: 100px;

}

#home{
position: absolute; 
top:10px;
}
#about{
    position: absolute;
    top:65px;


}
#contact{
    position: absolute;
    top:115px;

}

#texto{
position: absolute;
right: 40%;

top: 430px;
line-height : 5px;

}






#play1{
position: absolute;
  border: 2px solid black;
    z-index: 1;
   right: 10px;
   width:20%;
  height: 20%;
  bottom:50px;
   
}